<h3>
    <i class="fas fa-book-reader"></i>
   Welcome to Books Trade
</h3>
{{> _messages}}

<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <span>New here? <a href="/auth/register">Register</a></span>
    <span>Already a Member? <a href="/auth/login">Login</a></span>
</div>